@import "../../styles/responsive.scss";



nav {
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 10px;
    }

    .icons {

        display: flex;
        align-items: center;
        gap: 20px;


        .icon {
            @include sm {
                display: none;
            }
        }

        .notification {
            position: relative;

            img {
                width: 26px;
            }

            span {
                position: absolsute;
                top: -10px;
                right: -10px;
                padding: 5px;
                height: 20px;
                width: 20px;
                font-size: 10px;
                background-color: red;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .user {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            img {
                width: 26px;
                height: 26px;
                border-radius: 50%;
                object-fit: cover;

            }
        }

    }


}